{% trans_default_domain 'FOSUserBundle' %}

<style>
.typeProfessionel{
	display:none;
}

.typeHote{
	display:block;
}

</style>




  <div id="register_bg"> 

<div id="register">
		<aside>
			<div class="title" style="text-align:center;border-bottom: 1px solid #ededed;
  margin: -45px -60px 25px -60px;
  padding: 20px 60px 25px 60px;">
				<h4></span> Vous êtes sur le point de vous inscrire </h4>
				<P style="margin-bottom:0;">Bienvenue chez le simplificateur Afin de commencer l'expérience <span style="color:#d9534f;font-weight:bold;">lieuxTournage.tn</span>, vous devez vous inscrire en qualité de <span style="color:#d9534f;font-weight:bold;">Professionnel du cinéma</span> pour faire une demande de réservation.
Si vous souhaitez mettre votre espace en location sur notre site, vous devez vous inscrire en qualité de <span style="color:#d9534f;font-weight:bold;">particulier ou propriétaire</span>
 .</P>
			</div>
			{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register','novalidate':'novalidate'}}) }}

                 <div class="row ">
			     <div class="col-md-12">
				<div class="form-group">
					<label>Vous êtes :</label>
					  {{form_widget(form.typeCompte,{'id':'type-register' , 'attr': {'class': 'form-control', 'placeholder': 'Type compte' } })}}
					
				</div>
                    <span class="text-danger"> {{ form_errors(form.typeCompte) }}</span>
                </div>
            </div>


            <div id="identif" class="row typeHote">
			     <div class="col-md-12">
				<div class="form-group">
					<label>Mon type d'inscription</label>
					  {{form_widget(form.typeHote,{'id':'type-hote' , 'attr': {'class': 'form-control', 'placeholder': 'Type compte' } })}}
					
				</div>
                    <span class="text-danger"></span>
                </div>
            </div>




                 <div class="row">
                 	<div class="col-md-12">
				<div class="form-group">
					<label>Nom de société :</label>
					 {{form_widget(form.societe,{'id':'societe-register' , 'attr': {'class': 'form-control', 'placeholder': 'Nom de société' } })}}
					
				</div>

				 <span class="text-danger">{{ form_errors(form.societe) }}</span>
			</div>
			</div>


                <div class="row">
                	<div class="col-md-12">
               <div class="form-group">
					<label>Civilité :</label>
					 {{form_widget(form.civilite,{'id':'civilite-register' , 'attr': {'class': 'form-control', 'placeholder': 'Civilite' } })}}
					
				</div>
				 <span class="text-danger">{{ form_errors(form.civilite) }}</span>
			</div>

			</div>

                

                <div class="row">
                	<div class="col-md-6">
				<div class="form-group">
					<label>Nom :</label>
					 {{form_widget(form.nom,{'id':'nom-register' , 'attr': {'class': 'form-control', 'placeholder': 'Nom' } })}}
				
				</div>
				 <span class="text-danger">{{ form_errors(form.nom) }}</span>
			</div>

                 
                 <div class="col-md-6">
               <div class="form-group">
					<label>Prénom :</label>
					 {{form_widget(form.prenom,{'id':'prenom-register' , 'attr': {'class': 'form-control', 'placeholder': 'Prenom' } })}}
				
				</div>
				 <span class="text-danger">{{ form_errors(form.prenom) }}</span>
			</div>

			</div>
                    
                  <div class="row">
                  	<div class="col-md-6">
                    <div class="form-group">
					<label>Fonction :</label>
					 {{form_widget(form.fonction,{'id':'fonction-register' , 'attr': {'class': 'form-control', 'placeholder': 'Fonction' } })}}
					
				</div>
				 <span class="text-danger">{{ form_errors(form.fonction) }}</span>
			</div>
                   


                   <div class="col-md-6">
				<div class="form-group">
					<label>Ville :</label>
					 {{form_widget(form.ville,{'id':'ville-register' , 'attr': {'class': 'form-control', 'placeholder': 'Ville' } })}}
					
				</div>
				 <span class="text-danger">{{ form_errors(form.ville) }}</span>
			</div>

			</div>



                    
                     <div class="row">
                     	<div class="col-md-6">
                    <div class="form-group">
					<label>Adresse :</label>
					 {{form_widget(form.adresse,{'id':'adresse-register' , 'attr': {'class': 'form-control', 'placeholder': 'Adresse' } })}}
				
				</div>
				 <span class="text-danger">{{ form_errors(form.adresse) }}</span>
			</div>

                  <div class="col-md-6">
                  <div class="form-group">
					<label>Code postale :</label>
					 {{form_widget(form.cp,{'id':'cp-register' , 'attr': {'class': 'form-control', 'placeholder': 'Code postale' } })}}
				
				</div>
				 <span class="text-danger">{{ form_errors(form.cp) }}</span>
			</div>
			</div>





                  <div class="row">
                	<div class="col-md-12">
               <div class="form-group">
					<label>Téléphone :</label>
					 {{form_widget(form.telephone,{'id':'civilite-register' , 'attr': {'class': 'form-control', 'placeholder': 'Téléphone' } })}}
					
				</div>
				 <span class="text-danger">{{ form_errors(form.telephone) }}</span>
			</div>

			</div>










                  <div class="row">

                      <div class="col-md-6">
			<div class="form-group">
					<label>Nom d'utilisateur :</label>
					 {{form_widget(form.username,{'id':'username-register' , 'attr': {'class': 'form-control', 'placeholder': "Nom d'utilisateur" } })}}
				
				</div>
				 <span class="text-danger">{{ form_errors(form.username) }}</span>
			</div>




                  	<div class="col-md-6">
				<div class="form-group">
					<label>Email</label>
					 {{form_widget(form.email,{'id':'email-register' , 'attr': {'class': 'form-control', 'placeholder': 'Saisir votre adresse e-mail' } })}}
					
				</div>
				 <span class="text-danger">{{ form_errors(form.email) }}</span>
			</div>


          

			</div>

			   <div class="row">
                 <div class="col-md-6">
				<div class="form-group">
					<label>Mot de passe </label>
					 {{form_widget(form.plainPassword.first,{'id':'password-register' , 'attr': {'class': 'form-control', 'placeholder': 'Insérer votre mot de passe' } })}}
					
				</div>
				 <span class="text-danger">{{ form_errors(form.plainPassword.first) }}</span>
			</div>

			    <div class="col-md-6">
				<div class="form-group">
					<label>Confirmer votre mot de passe</label>
						 {{form_widget(form.plainPassword.second,{'id':'Confirm-register' , 'attr': {'class': 'form-control', 'placeholder': 'Confirmer votre mot de passe' } })}}
					
				</div>
				 <span class="text-danger">{{ form_errors(form.plainPassword.second) }}</span>
			</div>

              </div>


				<div id="pass-info" class="clearfix" style="margin-bottom:0;"></div>
				 <div class="text-center"><button class="btn_1 rounded  add_top_30">Valider</button></div>
				<div class="text-center add_top_10"> <strong><a href="{{path('fos_user_security_login')}}">J'ai déjà un compte</a></strong></div>
			  {{ form_end(form) }}
			<div class="copy" style="text-align:center;">© SQLI Services</div>
		</aside>
	</div>





</div>



















