
 {% extends '@Front/Default/template.html.twig' %}

{% block title %} Services {% endblock %}

{% block stylesheet %}
		<link href="{{asset('frontFolder/css/integration.css')}}" rel="stylesheet">
	{% endblock %}

{% block pageContainer %}

<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a href="#">Accueil</a></li>
				
					<li>Services</li>
				</ul>
			</div>
		</div>

	<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Catering</h2>
					<p>Découvrez le top des traiteurs  en Tunisie</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal" >
							<div class="block-horizzontal"></div>
							<img src="{{asset('frontFolder/img/accuille/ser1.jpg')}}" class="img-fluid" alt="">
						</figure>
					</div>
					<div class="col-lg-5">
						<p class="p-services">Vous souhaitez avoir un service traiteur qui se chargera de la restauration de  votre shooting photo, tournage de film?<br/>  
Trouvez les meilleurs traiteurs  en Tunisie qui proposent une cuisine délicieuse, raffinée et de haut standing! Tous les choix sont disponibles pour ravir votre équipe .
</p>
						
					</div>
				</div>

                 

                 	<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Location d’animaux</h2>
					<p>Pour le tournage de votre film ou shooting, demandez un animal hors du commun !</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="{{asset('frontFolder/img/accuille/ser2.jpg')}}" class="img-fluid" alt="">
						</figure>
                        

					</div>
					<div class="col-lg-5">
						 <p class="p-services">Pour tous vos projets : <br/> évènements, tournage des films, shooting, un grand choix d'espèces différentes d'animaux dressés et  prédisposés à se retrouver devant la caméra et qu’ils qui sont prédisposés à se retrouver devant la caméra.</p>
                       
	

                              					<h6>D’animaux domestiques :</h6>

	<div class='img-container'>
    <div><img src='{{asset('frontFolder/img/accuille/g11.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g12.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g13.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g14.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g15.jpg')}}'/></div>

    
  </div>




						
					</div>
				</div>



                <div class="row justify-content-between">
                  <div class="col-lg-6 " >


     




    	<h6>D’animaux de ferme  :</h6>

	<div class='img-container'>
   <div><img src='{{asset('frontFolder/img/accuille/g21.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g22.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g23.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g24.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g25.jpg')}}'/></div>
      <div><img src='{{asset('frontFolder/img/accuille/g26.jpg')}}'/></div>
  </div>



   	<h6>D’animaux exotiques non domestiques  :</h6>

	<div class='img-container'>
   <div><img src='{{asset('frontFolder/img/accuille/g31.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g32.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g33.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g34.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g35.jpg')}}'/></div>
      <div><img src='{{asset('frontFolder/img/accuille/g36.jpg')}}'/></div>
   

  </div>
   </div>




      <div class="col-lg-6 " >
  	<h6> Reptiles  :</h6>

	<div class='img-container'>
    <div><img src='{{asset('frontFolder/img/accuille/g41.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g42.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g43.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g44.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g45.jpg')}}'/></div>
      <div><img src='{{asset('frontFolder/img/accuille/g46.jpg')}}'/></div>

  </div>


  	<h6>Insectes :</h6>

	<div class='img-container'>
   <div><img src='{{asset('frontFolder/img/accuille/g51.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g52.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g53.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g54.jpg')}}'/></div>
    <div><img src='{{asset('frontFolder/img/accuille/g55.jpg')}}'/></div>
      <div><img src='{{asset('frontFolder/img/accuille/g56.jpg')}}'/></div>
  </div>



</div>

   </div>










				<!--/row-->
			</div>
			<!--/container-->
		</div>





			<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Matériel  de tournage</h2>
					<p>Découvrez une grande sélection de Matériel de Tournage de qualité.</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="{{asset('frontFolder/img/accuille/ser3.jpg')}}" class="img-fluid" alt="">
						</figure>
					</div>
					<div class="col-lg-5">
						<p class="p-services">

                        Un large choix de matériel professionnel (caméras, accessoires machinerie, éclairage ...)<br>  permettant de répondre à tous vos besoins en matière de production <br> d'images, de son ou d'évènementiel.

                        <div id="single_tour_feat">
                <ul>
                    <li><i class="icon_set_1_icon-7"></i>Eclairage</li>
                    <li><i class="icon_set_1_icon-31"></i>Video sous-marin</li>
                    <li><i class="icon_set_1_icon-98"></i>Machinerie</li>
                    <li><i class="icon_set_1_icon-97"></i>Son</li>
                    <li><i class="icon_set_1_icon-21"></i>Véhicule</li>
                   
                </ul>
            </div> 
                         
                        


						</p>
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</div>



			<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Costumes & accessoires</h2>
					<p>La location de costumes et d'accessoires dont vous avez besoin  pour vos tournages </p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="{{asset('frontFolder/img/accuille/acc3.jpg')}}" class="img-fluid" alt="">
						</figure>
					</div>
					<div class="col-lg-5">
						<p class="p-services">
                          De  nombreux costumes historiques et accessoires  de  toutes époques, réalisés des matières nobles et traditionnelles : Lin, laine, cuir, fer, bronze, argent  pour vos différents projets (tournage de long métrage, film, shooting …)

						 
                          
			    <div id="single_tour_feat">
                <ul>
                    <li><i class="icon_set_1_icon-49"></i>Composition</li>
                    <li><i class="icon-params"></i>Retouches</li>
                    <li><i class=" icon-t-shirt"></i>Creation sur mesures</li>
                    <li><i class="icon-truck-1"></i>Livraison </li>
                    <li><i class="icon_set_2_icon-103"></i>Pressing</li>
                   
                </ul>
            </div>
					

					</p>

					
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</div>







            	<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>	Véhicules </h2>
					<p>Location de véhicules pour vos tournages</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="{{asset('frontFolder/img/accuille/ser4.jpg')}}" class="img-fluid" alt="">
						</figure>
					</div>
					<div class="col-lg-5">
						<p class="p-services">
                          Un large choix de véhicules divers et variés  pour tournages de  films, shooting, clip vidéo ….<br>
Voitures de Police, de Gendarmerie, camions de pompiers, ambulances, véhicules de luxe, haut de gamme, véhicules d’époque, véhicules militaires… <br> Tout est mis à votre disposition pour le bon déroulement de vos tournages partout en Tunisie.


						 
                          
			    <div id="single_tour_feat">
                <ul>
                    <li><i class="icon_set_1_icon-26"></i> Véhicule public</li>
                    <li><i class="icon_set_1_icon-21"></i>Véhicules d'époque</li>
                    <li><i class=" icon_set_1_icon-81"></i>Véhicules de luxe</li>
                    <li><i class="icon-truck-1"></i>Véhicules divers  </li>
                    
                   
                </ul>
            </div>
					

					</p>

					
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</div>


















				<!--/row-->
			</div>
			<!--/container-->
		</div>



{% endblock %}

{% block javascript %}

{% endblock %}